altair==5.0.1
annotated-types==0.5.0
anyio==3.7.1
azure-core==1.28.0
azure-identity==1.13.0
azure-keyvault==4.2.0
fastapi==0.100.0
GitPython==3.1.32
httptools==0.6.0
Jinja2==3.1.2
msal==1.22.0
msal-extensions==1.0.0
numpy==1.24.4
pandas==2.0.3
pydantic==1.10.12
# pymssql==2.2.7
pyodbc==4.0.39
python-dotenv==1.0.0
PyYAML==6.0
requests==2.31.0
SQLAlchemy==1.4.41
sqlalchemy2-stubs==0.0.2a35
sqlmodel==0.0.8
starlette==0.27.0
streamlit==1.25.0
streamlit-aggrid==0.3.4.post3
urllib3==2.0.4
uvicorn[standard]==0.22.0

